﻿@model Blog_1.Models.Commets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Commets</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Commet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Commet)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Post_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
