﻿@model IEnumerable<Blog_1.Models.Commets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Commet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Commet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Post_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Post_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Post_Id })
        </td>
    </tr>
}

</table>
